{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Reset your password

{% endblock title %}
{% block content %}
<div class="container">
    <div style="text-align: center;">
        <h2>Mot de passe oublié</h2>
        <p>Saisir votre email pour obtenir un nouveau mot de passe</p>
        
    </div>
    <form action="" method="post" class="form ">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary" value="send e-mail">Submit</button>
        
    </form>
</div>
{% endblock content %}