{% extends "base.html" %}
{% load static %}
{% block title %}Webscrapping{% endblock title %}



{% block content %}
<h1>{{welcome}}</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col col-3">
            <img src="{% static 'images/naldea-user-working.png'%}" class="img-fluid " style="width:200px"/>
        </div>
        <div class="col">
            <a href="{% url 'chatapp:models_dpgf_demo' %}" class="btn btn-link">Economie de la construction</a>
            <a href="{% url 'chatapp:models_vision_demo' %}" class="btn btn-link">Vision par ordinateur</a>
        </div>
    </div>
</div>

    
    
{% endblock content %}